aioredis==1.3.1
anyio==3.4.0
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
cffi==1.14.4
channels==3.0.4
channels-redis==3.3.1
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
constantly==15.1.0
coverage==6.2
crispy-bootstrap5==0.6
cryptography==35.0.0
cycler==0.11.0
daphne==3.0.2
defusedxml==0.7.1
distlib==0.3.4
dj-database-url==0.5.0
Django==3.1.14
django-allauth==0.45.0
django-bootstrap4==0.0.8
django-cors-headers==3.10.0
django-crispy-forms==1.13.0
django-debug-toolbar==3.2.3
django-extensions==3.1.5
django-filter==21.1
django-heroku==0.0.0
django-magic==0.5a0
django-model-utils==4.2.0
django-nose==1.4.7
django-sslserver==0.22
djangorestframework==3.12.4
fastapi==0.70.1
filelock==3.4.0
fonttools==4.28.1
gunicorn==20.1.0
h11==0.12.0
hiredis==2.0.0
hyperlink==21.0.0
idna==3.1
incremental==21.3.0
kiwisolver==1.3.2
matplotlib==3.5.0
msgpack==1.0.2
nose==1.3.7
numpy==1.21.4
oauthlib==3.1.1
packaging==21.3
pandas==1.3.5
Pillow==8.4.0
pipenv==2021.11.23
platformdirs==2.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==3.0.6
python-dateutil==2.8.2
python-magic==0.4.24
python-magic-bin==0.4.14
python3-openid==3.2.0
pytz==2018.9
requests==2.26.0
requests-oauthlib==1.3.0
service-identity==21.1.0
setuptools-scm==6.3.2
six==1.15.0
sniffio==1.2.0
sqlparse==0.4.2
starlette==0.16.0
tomli==1.2.2
tweepy==4.4.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.16.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
websocket-server==0.6.4
websockets==10.1
Werkzeug==2.0.2
whitenoise==5.3.0
zope.interface==5.4.0
